<div class="info-container">
  <div>
      <img src="{{this.image}}" alt="Movie Image">
      <a href="/movies">Go back</a>
      <h2>{{this.title}}</h2>
      <h4>{{this.director}}</h4>
      <h4>Stars</h4>
      <ul>
        <li>{{this.stars.[0]}}</li>
        <li>{{this.stars.[1]}}</li>
        <li>{{this.stars.[2]}}</li>
      </ul>
      <p>{{this.description}}</p>
      <h4>{{this.showtimes}}</h4>
  </div>
</div>